#tell{
    margin-top: 250px;
    margin-left: 40px;
    font-size: 40px;
    font-family: 'Righteous', cursive;
    color: rgb(102, 99, 99);
}
#subhead{
    margin-top: 40px;
    margin-left: 40px;
    font-size: 20px;
    font-family: 'Righteous', cursive;
    color: rgb(239, 151, 44);
}

#contact-form{
    width: 45%;
    margin-top: -270px;
    float: right;
    font-family: 'Righteous', cursive;
    color: rgb(143, 142, 142);
   
    
}
#contactme{
    width: 45%;
    margin-top: -350px;
    float: right;
    font-family: 'Righteous', cursive;
    color: rgb(239, 151, 44);
    font-size: 30px;
}
#submit{
    margin-bottom: 10px;
    width: 90%;
    background-color: #334acb;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Righteous', cursive;
}

#submit:hover{
    background-color: rgb(239, 151, 44);
    transition: 1ms;
}

.input-box {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}