/* CSS of Cover Image */
#cover {
    width: 100%;
    margin-top: 34px;
    margin:none
    
    }
    
    /* CSS of Introduction */
    #introtable{
        width:100%;
        margin-left:none;
        background-color: #feffea;
    }
    
    /* CSS of Introduction Image */
    #image-col{
        width: 50%
    }
    
    /* CSS of the Intro table headings */
    #table{
       vertical-align: bottom;
    }
    
    /* CSS of the "Hello" text */
    #main{
        font-family: 'Righteous', cursive;
        font-size: 80px;
        font-weight: 200;
        color: rgb(255, 206, 91);
        text-align: right;
        margin-top: -372px;
        float: right;
        margin-right: 40px;
        width: 100%;
    }
    /* CSS of the "I am Deepti Banerjee" text */
    #name{
        font-family: 'Righteous', cursive;
        font-size: 50px;
        font-weight: 200;
        color: rgb(177, 21, 117);
        text-align: right;
        margin-top: -287px;
        margin-right: 20px;
        
        
    }
    /* CSS of the designation text */
    #designation{
        font-family: 'Righteous', cursive;
        font-size: 20px;
        color: rgb(121, 116, 116);
        text-align: right;
        margin-top: -200px;
        margin-right: 26px;
        float: right;
        
    }
    /* CSS of the "why to choose me?" text */
    #Head{
        font-family: 'Righteous', cursive;
        font-size: 41px;
        font-weight: 200;
        color: rgb(121, 116, 116);
        text-align: right;
        margin-top: -90px;
        /* margin-right: 34px; */
        background-color: white;
        /* padding-right: 25px; */
        padding-top: 38px;
        text-align: center;
    }
    /* CSS of the bottom section container */
#container{
    min-height: 85vh;
    width: 100%;
    margin: auto;
    padding-left: 30px;
    align-items: center;
    background-color: #343842;
}
/* CSS of the section */
.third{
    width: 32.33%;
    padding: 100px;
    
}
/* CSS of the "col" class */
.col{
    float: left;
    padding: 20px;
    
   
}
/* CSS of the hero id */
.hero{
    width: 150px;
    margin-left: 106px;
    margin-top: 10px;
    
}
/* CSS of the "subhead" class */
.subhead{
    font-family: 'Righteous', cursive;
    font-size: 30px;
    font-weight: 200;
    color: rgba(239, 166, 56, 0.849);
    text-align:center;
}
/* CSS of the left Paragraph of the bottom section */
#leftP{
    
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: rgb(248, 246, 211);
    text-align: justify;
    
}
/* CSS of the center Paragraph of the bottom section */
#centerP{
    
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: rgb(248, 246, 211);
    text-align: justify;
    
}
/* CSS of the right Paragraph of the bottom section */
#rightP{
    
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: rgb(248, 246, 211);
    text-align: justify;
    
}