
* {
    box-sizing: border-box;
   
}


/* CSS of the Scroll effect */
html {
    scroll-padding-top: 80px;
}

/* CSS of the header */
.Header {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;

}

/* CSS of the header content */
.Header a {
    float: right;
    display: block;
    font-family: 'Didact Gothic', sans-serif;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    width: 10%;
}

/* CSS of the hover effect of header content */
.Header a:hover {
    background: #ddd;
    color: black;
    transition: .5s;
    border-radius: 10px 10px 0 0;
}

/* CSS of the fixed hover effect */
.fixedhover{
    background: #7604f8;
    border-radius: 10px 10px 0 0;
}




/* CSS of the Footer bar */
.Links {
    overflow: hidden;
    background-color: #333;
    text-align: center;
    width: 100%;
    /* Full width */
}

/* CSS of the Footer bar content */
.Links a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

/* CSS of the Footer bar */
.Links {
    overflow:hidden;
    background-color: #333;
    text-align: center;
    width: 100%;
    /* Full width */
}

/* CSS of the Footer bar content */
.Links a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
/* CSS of the hover effect of the footer bar content */
.Links section:hover {
    background: #ddd;
    color: black;
}

/* CSS of the facebook icon */
#facebook{ 
    width: 20px;
}

/* CSS of the linkedin icon */
#linkedin{
    width: 20px;
}

/* CSS of the Gmail icon */
#email{
    width: 20px;
}

/* CSS of the hover effect of the footer bar content */
.Links section:hover {
    background: #ddd;
    color: rgb(209, 209, 209);
}

/* CSS of the facebook icon */
#facebook{ 
    width: 20px;
}

/* CSS of the linkedin icon */
#linkedin{
    width: 20px;
}

/* CSS of the Gmail icon */
#email{
    width: 20px;
}
