
* {
    box-sizing: border-box;
   
}


/* CSS of the Scroll effect */
html {
    scroll-padding-top: 80px;
}


/* CSS of Cover Image */
#cover {
width: 700px;
margin-top: -22px;
margin:none

}

/* CSS of Introduction */
#introtable{
    width:100%;
    margin-left:none
}

/* CSS of Introduction Image */
#image-col{
    width: 60%
}

/* CSS of the Intro table headings */
#table{
   vertical-align: bottom;
}

/* CSS of the "Hello" text */
#main{
    font-family: 'Righteous', cursive;
    font-size: 80px;
    font-weight: 200;
    color: rgb(255, 206, 91);
    text-align: right;
    margin-top: 178px;
    float: right;
    margin-right: 40px;
}
/* CSS of the "I am Deepti Banerjee" text */
#name{
    font-family: 'Righteous', cursive;
    font-size: 50px;
    font-weight: 200;
    color: rgb(177, 21, 117);
    text-align: right;
    margin-top: -83px;
    float: left
    
}
/* CSS of the designation text */
#designation{
    font-family: 'Righteous', cursive;
    font-size: 20px;
    color: rgb(121, 116, 116);
    text-align: right;
    margin-top: -44px;
    margin-right: 26px;
    float: right;
    
}
/* CSS of the "why to choose me?" text */
#Head{
    font-family: 'Righteous', cursive;
    font-size: 50px;
    font-weight: 200;
    color: rgb(121, 116, 116);
    text-align: right;
    float: right;
    margin-top: 204px;
}



/* CSS of the header */
.Header {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;

}

/* CSS of the header content */
.Header a {
    float: right;
    display: block;
    font-family: 'Didact Gothic', sans-serif;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    width: 10%;
}

/* CSS of the hover effect of header content */
.Header a:hover {
    background: #ddd;
    color: black;
    transition: .5s;
    border-radius: 10px 10px 0 0;
}

/* CSS of the fixed hover effect */
.fixedhover{
    background: #7604f8;
    border-radius: 10px 10px 0 0;
}


/* CSS of the bottom section container */
#container{
    min-height: 100vh;
    width: 100%;
    margin: auto;
    padding: 40px;
    align-items: center;
}
/* CSS of the section */
.third{
    width: 33.33%;
    padding: 40px;
    
}
/* CSS of the "col" class */
.col{
    float: left;
    padding: 20px;
    
   
}
/* CSS of the hero id */
.hero{
    width: 150px;
    margin-left: 118px;
    margin-top: 50px;
    
}
/* CSS of the "subhead" class */
.subhead{
    font-family: 'Righteous', cursive;
    font-size: 30px;
    font-weight: 200;
    color: rgb(121, 116, 116);
    text-align:center
}
/* CSS of the left Paragraph of the bottom section */
#leftP{
    
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: rgb(121, 116, 116);
    text-align: justify;
    padding: 23px;
}
/* CSS of the center Paragraph of the bottom section */
#centerP{
    
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: rgb(121, 116, 116);
    text-align: justify;
    padding: 23px;
}
/* CSS of the right Paragraph of the bottom section */
#rightP{
    
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: rgb(121, 116, 116);
    text-align: justify;
    padding: 23px;
}



/* CSS of the Scroll effect */
html {
    scroll-padding-top: 80px;
}

/* CSS of the body */
body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    font-family: 'Didact Gothic', sans-serif; 

}

/* CSS of profile picture of Deepti Banerjee */
.ProfilePic {
    width: 450px;
    float: right;
    margin-right: 20px;
}

#Profile {
    margin-top: 112px;
}

/* CSS of the ID- MainHeading */
#MainHeading {

    font-family: 'Righteous', cursive;
    font-size: 50px;
    font-weight: 200;
    color: rgb(77, 75, 75);
    margin-left: 20px;
    margin-top: 100px;
}

/* CSS of the About me paragraph */
.Aboutme {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: rgb(77, 75, 75);
    margin-left: 20px;
    width: 46%;
    margin-top: 30px;
    line-height: 30px;
}

/* CSS of the heading "I GOT THE SKILL" */
.Skills {
    font-family: 'Righteous', cursive;
    font-size: 40px;
    color: rgb(77, 75, 75);
    margin-right: 50px;
    margin-top: 10px;
    text-align: right;
}

/* CSS of the BarChart representation */
.BarChart {
    width: 450px;
    float: left;
    margin-top: -50px;
    margin-left: 20px;
}

/* CSS of the skills paragraph */
.SkillParagraph {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
    color: rgb(77, 75, 75);
    margin-left: 649px;
    margin-top: 50px;
    margin-right: 43px;
    text-align: right;
}

/* CSS of the Subhead "Graphic Designer */
.Subhead {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(77, 75, 75);
    margin-left: 20px;
    margin-top: 2px;
    color: rgb(239, 151, 44);
}

/* CSS of the header */
.Header {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;

}

/* CSS of the header content */
.Header a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    width: 10%;
}

/* CSS of the hover effect of header content */
.Header a:hover {
    background: #ddd;
    color: black;
    transition: .5s;
    border-radius: 10px 10px 0 0;
}

.fixedhover{
    background: #7604f8;
    border-radius: 10px 10px 0 0;
}


/* CSS of the What excites me heading */
.th1{
    padding: 40px;
    width: 50;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    font-weight: 200;
    color: rgb(77, 75, 75);

}

/* CSS of the Pet-peeves heading */
.th2{
    padding: 0px;
    width: 45%;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    font-weight: 200;
    color: rgb(77, 75, 75);
    

}
/*CSS of the "Aboutme.html" page*/

/* CSS of the Interest paragraph */
* {
    box-sizing: border-box;
    
}

/* CSS of the Scroll effect */
html {
    scroll-padding-top: 80px;
}
.td1{
    padding: 50px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: rgb(77, 75, 75);
}

/* CSS of the Pet-peeves paragraph */
.td2{
    padding: 60px;
    padding-right: 10px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
    font-weight: 150;
    color: rgb(77, 75, 75);
}

/* CSS of the Footer bar */
.Links {
    overflow: hidden;
    background-color: #333;
    text-align: center;
    width: 100%;
    /* Full width */
}

/* CSS of the Footer bar content */
.Links a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

/* CSS of the Footer bar */
.Links {
    overflow:hidden;
    background-color: #333;
    text-align: center;
    width: 100%;
    /* Full width */
}

/* CSS of the Footer bar content */
.Links a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
/* CSS of the hover effect of the footer bar content */
.Links section:hover {
    background: #ddd;
    color: black;
}

/* CSS of the facebook icon */
#facebook{ 
    width: 20px;
}

/* CSS of the linkedin icon */
#linkedin{
    width: 20px;
}

/* CSS of the Gmail icon */
#email{
    width: 20px;
}

/* CSS of the hover effect of the footer bar content */
.Links section:hover {
    background: #ddd;
    color: black;
}

/* CSS of the facebook icon */
#facebook{ 
    width: 20px;
}

/* CSS of the linkedin icon */
#linkedin{
    width: 20px;
}

/* CSS of the Gmail icon */
#email{
    width: 20px;
}
/* CSS of the header */
.Header {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;

}



/*-----CSS of My work page----------*/
/* CSS of the header content */
* {
    box-sizing: border-box;

}

/* CSS of the Scroll effect */
html {
    scroll-padding-top: 80px;
}
.Header a {
    float: right;
    display: block;
    font-family: 'Didact Gothic', sans-serif;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    width: 10%;
}

/* CSS of the hover effect of header content */
.Header a:hover {
    background: #ddd;
    color: black;
    transition: .5s;
    border-radius: 10px 10px 0 0;
}

/* CSS of the fixed hover effect */
.fixedhover{
    background: #7604f8;
    border-radius: 10px 10px 0 0;
}




/*------Contact page styling*/
/* CSS of the header */
* {
    box-sizing: border-box;
    
}


/* CSS of the Scroll effect */
html {
    scroll-padding-top: 80px;
    
}
.Header {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;

}

/* CSS of the header content */
.Header a {
    float: right;
    display: block;
    font-family: 'Didact Gothic', sans-serif;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    width: 10%;
}

/* CSS of the hover effect of header content */
.Header a:hover {
    background: #ddd;
    color: black;
    transition: .5s;
    border-radius: 10px 10px 0 0;
}

/* CSS of the fixed hover effect */
.fixedhover{
    background: #7604f8;
    border-radius: 10px 10px 0 0;
}

h1{
    margin-top: 100px;
    float: right;
    
    
}
form{
    width: 45%;
    margin-top: 10px;
    float: right;
    

}
#container{
    width: 100%;
    margin-top: 20px ;
}